name: monitoring
namespace: monitoring
namespaceLabels:
  space: service
space: service
description: All the monitoring apps, including but not limited to prometheus, grafana, thanos, loki. 
    
apps:
  - name: prometheus
    source:
      repoURL: 'https://github.com/distributed-technologies/prometheus.git'
      targetRevision: main
      path: chart
      valuesFile: "prometheus.yaml"
    ingress:
      - subDomain: prometheus
        path: /
        servicePort: 9090
        serviceName: prometheus-kube-prometheus-prometheus
        annotation:
          traefik.ingress.kubernetes.io/router.entrypoints: web
  - name: thanos
    source:
      repoURL: 'https://github.com/distributed-technologies/services-thanos.git'
      targetRevision: v0.1.0 
      path: chart
      valuesFile: "thanos.yaml"
  - name: grafana
    source:
      repoURL: 'https://github.com/grafana/helm-charts.git'
      targetRevision: grafana-6.16.14
      path: charts/grafana
      valuesFile: "grafana.yaml"
    ingress:  
      - subDomain: grafana
        path: /
        servicePort: 80
        serviceName: grafana
        annotation: 
          traefik.ingress.kubernetes.io/router.entrypoints: web
  - name: loki
    source:
      repoURL: 'https://github.com/distributed-technologies/services-loki.git'
      targetRevision: main 
      path: chart
      valuesFile: "loki.yaml"
  - name: jaeger
    source:
      repoURL: 'https://github.com/distributed-technologies/services-jaeger.git'
      targetRevision: feature/tracing-with-jaeger
      path: chart
      valuesFile: "jaeger.yaml"
    ingress:
      - subDomain: jaeger
        path: /
        servicePort: 80
        serviceName: jaeger-query
        annotation:
          traefik.ingress.kubernetes.io/router.entrypoints: web
