name: monitoring
namespace: monitoring
namespaceLabels:
  space: service
space: service
description: All the monitoring apps, including but not limited to prometheus, grafana, thanos, loki.

apps:
  - name: prometheus
    source:
      repoURL: 'https://distributed-technologies.github.io/helm-charts/'
      targetRevision: 0.1.2
      chart: prometheus
      valuesFile: "prometheus.yaml"
    ingress:
      - subDomain: prometheus
        path: /
        servicePort: 9090
        serviceName: prometheus-kube-prometheus-prometheus
        annotation:
          traefik.ingress.kubernetes.io/router.entrypoints: web
  - name: thanos
    source:
      repoURL: 'https://distributed-technologies.github.io/helm-charts/'
      targetRevision: 0.1.1
      chart: thanos
      valuesFile: "thanos.yaml"
  - name: grafana
    source:
      repoURL: 'https://distributed-technologies.github.io/helm-charts/'
      targetRevision: 0.1.8
      chart: grafana
      valuesFile: "grafana.yaml"
    ingress:
      - subDomain: grafana
        path: /
        servicePort: 80
        serviceName: grafana
        annotation:
          traefik.ingress.kubernetes.io/router.entrypoints: web
  - name: loki
    source:
      repoURL: 'https://distributed-technologies.github.io/helm-charts/'
      targetRevision: 0.1.2
      chart: loki
      valuesFile: "loki.yaml"
  - name: jaeger
    source:
      repoURL: 'https://distributed-technologies.github.io/helm-charts/'
      targetRevision: 0.1.2
      chart: jaeger
      valuesFile: "jaeger.yaml"
    ingress:
      - subDomain: jaeger
        path: /
        servicePort: 80
        serviceName: jaeger-query
        annotation:
          traefik.ingress.kubernetes.io/router.entrypoints: web
  - name: tempo
    source:
      repoURL: 'https://github.com/distributed-technologies/helm-charts' # TODO Change this
      targetRevision: feature/tempo # TODO Changes this
      # chart: tempo-distributed # TODO Comment back in
      path: charts/tempo-distributed/chart
      valuesFile: "tempo.yaml"
  - name: grafana-agent-operator
    source:
      repoURL: 'https://github.com/distributed-technologies/helm-charts' # TODO Change this
      targetRevision: feature/tempo # TODO Changes this
      # chart: tempo-distributed # TODO Comment back in
      path: charts/grafana-agent-operator/chart
      valuesFile: "grafana-agent-operator.yaml"
  - name: tns
    source:
      repoURL: 'https://github.com/distributed-technologies/helm-charts' # TODO Change this
      targetRevision: feature/tns # TODO Changes this
      # chart: tempo-distributed # TODO Comment back in
      path: charts/tns/chart
      valuesFile: "tns.yaml"
