name: kafka
namespace: kafka
namespaceLabels:
  space: service
space: service
description: Kafka.

apps:
  - name: kafka
    source:
      repoURL: "https://distributed-technologies.github.io/helm-charts/"
      targetRevision: 0.3.3
      chart: kafka
      valuesFile: "kafka.yaml"
