name: kafka
namespace: kafka
space: service
description: Kafka.

project:
  name: kafka
  server: https://kubernetes.default.svc
  sourceRepos:
    - '*'

apps:
  - name: kafka
    replace: true
    source:
      repoURL: "https://github.com/distributed-technologies/services-kafka.git"
      targetRevision: main
      path: chart
      valuesFile: "kafka.yaml"
